

<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"   href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head">Update Question</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="updateform">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">



              <div>
                <mat-form-field class="example-full-width">
                  <input matInput [(ngModel)]="this.Question['desgnQuestion']"  formControlName="desgnQuestion" required placeholder="desgnQuestion">
                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.Question['tempsQuestion']"   formControlName="tempsQuestion" required placeholder="TempsQuestion ">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput   matInput [(ngModel)]="this.Question['unite']" formControlName="unite" required placeholder="Unité">
                </mat-form-field>
              </div>


            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Enregistrer</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
