<div class="container-fluid">
  <mat-card>
    <mat-card-header>
      <div>
        <a class="d-inline-block mr-3"  (click)="NavToList()" href="javascript:void(0)"> <mat-icon color="primary">keyboard_backspace</mat-icon></a>
      </div>
      <div>
        <mat-card-title class="head"> Modifier Candidat</mat-card-title>
      </div>
    </mat-card-header>

    <form (ngSubmit)="onSubmit()" [formGroup]="updateCandidat">
      <nb-card>

        <nb-card-body>
          <div class="text-left">
            <div class="col-4 d-inline-block">


              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['nom']" formControlName="nom" required placeholder="Nom">
                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['prenom']" formControlName="prenom" required placeholder="Prénom">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.candidatUpdated['email']"  formControlName="email" required placeholder="email">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['password']" formControlName="password"  required placeholder="Password">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['tel']" formControlName="tel" required placeholder="Télephone">
                </mat-form-field>
              </div>



              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['ecole']" formControlName="ecole" required placeholder="ecole">
                </mat-form-field>
              </div>


              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['experience']" formControlName="experience" required placeholder="Expérience">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput  [(ngModel)]="this.candidatUpdated['niveau']" formControlName="niveau" required placeholder="Niveau">
                </mat-form-field>
              </div>

              <div>
                <mat-form-field>
                  <input matInput [(ngModel)]="this.candidatUpdated['profil']"  formControlName="profil" required placeholder="Profil">
                </mat-form-field>
              </div>



              <mat-form-field class="input-width" >
                <input matInput  [(ngModel)]="this.candidatUpdated['dateDebot']"  formControlName="dateDebot"  [min]="today" [matDatepicker]="picker1" placeholder="Date de Débot de test">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>

            </div>
          </div>



        </nb-card-body>


        <nb-card-footer>
          <div class="text-left">
            <button mat-raised-button  class=" m-2" color="warn">Enregistrer</button>

            <button mat-raised-button (click)="OnReset()" class=" m-2" color="primary">Annuler</button>
          </div>

        </nb-card-footer>
      </nb-card>



    </form>
  </mat-card>
</div>
