<p>etat-test works!</p>


<div class="col-12">

  <div class="float-right p-4">

    <button mat-raised-button color="primary">ajouter Test</button>

  </div>

</div>

<mat-toolbar color="primary">
  <span>Gestion Test</span>
  <span class="spacer"></span>
  Refresh
  <button mat-icon-button (click)="refresh()">
    <mat-icon>refresh</mat-icon>
  </button>
</mat-toolbar>

<div class="container mat-elevation-z8">

  <div class="form">
    <mat-form-field floatPlaceholder="never" color="accent">
      <input matInput #filter placeholder="Filter issues">
    </mat-form-field>
  </div>

  <mat-table #table [dataSource]="dataSource" matSort class="mat-cell">
    ng update @angular/cli @angular/core

  <ng-container matColumnDef="idTest">
      <mat-header-cell *matHeaderCellDef mat-sort-header>No</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.idTest}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="theme">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Theme</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.theme}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Description</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.description}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateDebut">
      <mat-header-cell *matHeaderCellDef mat-sort-header>DateDebut</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.dateDebut}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="dateFin">
    <mat-header-cell *matHeaderCellDef mat-sort-header>DateFin</mat-header-cell>
    <mat-cell *matCellDef="let row"> {{row.dateFin}}</mat-cell>
  </ng-container>


    <ng-container matColumnDef="score">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Score</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.score}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="nom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nomcandidat</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.nomcandidat}}</mat-cell>
    </ng-container>


    <ng-container matColumnDef="prenom">
      <mat-header-cell *matHeaderCellDef mat-sort-header>Prenomcandidat</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.prenomcandidat}}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="etatTest">
      <mat-header-cell *matHeaderCellDef mat-sort-header>EtatTest</mat-header-cell>
      <mat-cell *matCellDef="let row"> {{row.etatTest}}</mat-cell>
    </ng-container>



    <!-- actions -->
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>
        <button mat-icon-button color="primary" >
          <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
        </button>
      </mat-header-cell>

      <mat-cell *matCellDef="let row; let i=index;">
        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>

        <button mat-icon-button color="accent" >
          <mat-icon aria-label="Delete">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>


  <div class="no-results" [style.display]="dataSource.renderedData.length == 0 ? '' : 'none'">
    No results
  </div>

  <mat-paginator #paginator
                 [length]="dataSource.filteredData.length"
                 [pageIndex]="0"
                 [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 25, 100]">
  </mat-paginator>
</div>
